{{ 'about-banner.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 1.2 | round: 0 }}rem;
    padding-bottom: {{ section.settings.padding_bottom | times: 4.4 | round: 0 }}rem;
  }

  .section-{{ section.id }} {
    margin-top: {{ section.settings.margin_top | times: 0.4 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.4 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}rem;
      padding-bottom: {{ section.settings.padding_bottom }}rem;
    }
 
    .section-{{ section.id }} {
      margin-top: {{ section.settings.margin_top}}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<section
  class="section-{{ section.id }} about-banner gradient color-{{ section.settings.section_color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="page-width section-{{ section.id }}-padding">
    <div class="about-banner-wrapper">
      <div class="about-banner-top text-center">
        <div class="position-relative">
          <h1>{{ section.settings.heading }}</h1>
          <div class="position-absolute">
            {{ section.settings.image | image_url: width: 200 | image_tag: class: 'img-fluid' }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="small-hide">.</p>
        </div>
        <div class="col-md-6">
          <div class="about-banner-bottom text-center">
            <h2>{{ section.settings['bottom-heading'] }}</h2>
            <p>{{ section.settings.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "html",
      "id": "bottom-heading",
      "label": "Bottom Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Section Margin And Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "rem",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "rem",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    }
  ],
  "presets": [
    {
      "name": "About Banner"
    }
  ]
}
{% endschema %}
